.product-container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 40px;
    background-color: #FFD673;
    padding: 20px;
    border-radius: 20px;
}

.product-card {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 960px;
    width: 100%;
    margin-bottom: 20px;
}

.product-image {
    width: 150px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}


.product-details {
    flex: 1;
    text-align: right; /* Прижимает весь текст к правой стороне */

}

.product-details h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

.remaining-seats {
    font-size: 1em;
    color: #777;
    margin-bottom: 20px;
}

.button-container_card {
    display: flex;
    gap: 10px;
    width: 50px;
    margin-left: 645px;
}

.join-button_card, .info-button_card {
    flex: 1;
    padding: 10px 15px;
    font-size: 0.9em;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.join-button_card {
    background-color: #ffcc00;
    color: black;
}

.info-button_card {
    background-color: #e0e0e0;
    color: black;
}