{% extends 'base.html' %}

{% load static %}

{% block title %}
Ваше мероприятие
{% endblock %}


{% block create %}
<link rel="stylesheet" type="text/css" href="{% static 'css/create.css' %}">

<div class="event-form-container">
    <h2>Создание нового мероприятия</h2>
    <form action="/submit-event" method="POST" enctype="multipart/form-data">
        <label for="event-image">Загрузить изображение:</label>
        <input type="file" id="event-image" name="event-image" accept="image/*">

        <label for="event-name">Название:</label>
        <input type="text" id="event-name" name="event-name" placeholder="Введите название мероприятия" required>

        <label for="event-category">Категория:</label>
        <input type="text" id="event-category" name="event-category" placeholder="Введите категорию" required>

        <label for="event-address">Адрес:</label>
        <input type="text" id="event-address" name="event-address" placeholder="Введите адрес" required>

        <label for="event-description">Описание:</label>
        <textarea id="event-description" name="event-description" placeholder="Введите описание мероприятия" required></textarea>

        <label for="event-address">Количество мест:</label>
        <input type="text" id="event-count" name="event-count" placeholder="Введите количество" required>

        <button type="submit">Создать мероприятие</button>
    </form>
</div>

{% endblock %}