{% extends 'base.html' %}
{% load static %}

{% block title %}
Мероприятия
{% endblock %}


{% block offers %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
<div class="carousel-container">
    <h2>По вашим предложениям  </h2>
    <p>Предложения для Вас </p>
    <div class="carousel">

        <div class="carousel-track">
            <div class="carousel-card">
                <img src="static/photo/img1.jpg" alt="Product 1">
                <h3>Ноутбук HUAWEI MateBook D 14</h3>
                <p>Цена: 49 979 ₽</p>
            </div>
            <div class="carousel-card">
                <img src="static/photo/img1.jpg" alt="Product 2">
                <h3>Ноутбук HUAWEI MateBook D 14</h3>
                <p>Цена: 41 486 ₽</p>
            </div>
            <div class="carousel-card">
                <img src="static/photo/img1.jpg" alt="Product 2">
                <h3>Ноутбук HUAWEI MateBook D 14</h3>
                <p>Цена: 41 486 ₽</p>
            </div>
            <div class="carousel-card">
                <img src="static/photo/img1.jpg" alt="Product 2">
                <h3>Ноутбук HUAWEI MateBook D 14</h3>
                <p>Цена: 41 486 ₽</p>
            </div>
            <div class="carousel-card">
                <img src="static/photo/img1.jpg" alt="Product 2">
                <h3>Ноутбук HUAWEI MateBook D 14</h3>
                <p>Цена: 41 486 ₽</p>
            </div>
            <div class="carousel-card">
                <img src="static/photo/img1.jpg" alt="Product 2">
                <h3>Ноутбук HUAWEI MateBook D 14</h3>
                <p>Цена: 41 486 ₽</p>
            </div>
            <div class="carousel-card">
                <img src="static/photo/img1.jpg" alt="Product 2">
                <h3>Ноутбук HUAWEI MateBook D 14</h3>
                <p>Цена: 41 486 ₽</p>
            </div>
            <div class="carousel-card">
                <img src="static/photo/img1.jpg" alt="Product 2">
                <h3>Ноутбук HUAWEI MateBook D 14</h3>
                <p>Цена: 41 486 ₽</p>
            </div>

            
            <!-- Добавьте больше карточек по необходимости -->
        </div>

    </div>
</div>

{% endblock %}