{% extends 'base.html' %}
{% load static %}

{% block title %}
Мероприятия
{% endblock %}

{% block search %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
<div class="search-container">
    <form action="" method="get">
        <input type="text" placeholder="Введите текст" class="search-input">
        <button class="search-button">Найти</button>
    </form>
</div>
{% endblock %}

{% block offers %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
<div class="carousel-container">
    <!-- <h2>По Вашим интересам  </h2> -->
    <p>Предложения для Вас </p>
    <div class="carousel">

        <div class="carousel-track">
            <div class="carousel-card">
                <img src="/static/photo/img1.jpg" alt="Изображение мероприятия">
                <h3>Название мероприятия</h3>
                <p>Осталось мест: 10</p>
                <button class="join-button">Участвовать</button>
            </div>
            
            <div class="carousel-card">
                <img src="/static/photo/img1.jpg" alt="Изображение мероприятия">
                <h3>Название мероприятия</h3>
                <p>Осталось мест: 10</p>
                <button class="join-button">Участвовать</button>
            </div>
            <div class="carousel-card">
                <img src="/static/photo/img1.jpg" alt="Изображение мероприятия">
                <h3>Название мероприятия</h3>
                <p>Осталось мест: 10</p>
                <button class="join-button">Участвовать</button>
            </div>
            <div class="carousel-card">
                <img src="/static/photo/img1.jpg" alt="Изображение мероприятия">
                <h3>Название мероприятия</h3>
                <p>Осталось мест: 10</p>
                <button class="join-button">Участвовать</button>
            </div>
            <div class="carousel-card">
                <img src="/static/photo/img1.jpg" alt="Изображение мероприятия">
                <h3>Название мероприятия</h3>
                <p>Осталось мест: 10</p>
                <button class="join-button">Участвовать</button>
            </div>
            <div class="carousel-card">
                <img src="/static/photo/img1.jpg" alt="Изображение мероприятия">
                <h3>Название мероприятия</h3>
                <p>Осталось мест: 10</p>
                <button class="join-button">Участвовать</button>
            </div>
            <div class="carousel-card">
                <img src="/static/photo/img1.jpg" alt="Изображение мероприятия">
                <h3>Название мероприятия</h3>
                <p>Осталось мест: 10</p>
                <button class="join-button">Участвовать</button>
            </div>
            
            <!-- Добавьте больше карточек по необходимости -->
        </div>

    </div>
</div>
{% endblock %}

{% block card %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home_card.css' %}"/>
<div class="product-container">
    <div class="product-card">
        <img src="/static/photo/img1.jpg" alt="Изображение мероприятия" class="product-image">
        <div class="product-details">
            <h3>Название мероприятия</h3>
            <p class="remaining-seats">Осталось мест: 10</p>
            <p class="remaining-seats">Категория: Развлечения</p>
            <p class="remaining-seats">Адрес: Студия батута</p>
            <div class="button-container_card">
                <button class="join-button_card">Участвовать</button>
            </div>
        </div>
    </div>
    <div class="product-card">
        <img src="/static/photo/img1.jpg" alt="Изображение мероприятия" class="product-image">
        <div class="product-details">
            <h3>Название мероприятия</h3>
            <p class="remaining-seats">Осталось мест: 15</p>
            <p class="remaining-seats">Категория: Развлечения</p>
            <p class="remaining-seats">Адрес: Стедая батута</p>
            <div class="button-container_card">
                <button class="join-button_card">Участвовать</button>
            </div>
        </div>
    </div>
    <!-- Добавьте больше карточек по необходимости -->
</div>

{% endblock %}
