{% extends 'base.html' %}
{% load static %}

{% block title %}
Мероприятия
{% endblock %}

{% block search %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
<div class="search-container">
    <form action="" method="get">
        <input type="text" placeholder="Введите текст" class="search-input">
        <button class="search-button">Найти</button>
        <button class="prof-button">Профиль</button>
    </form>
</div>
{% endblock %}

{% block offers %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
<div class="carousel-container">
    <!-- <h2>По Вашим интересам  </h2> -->
    <p>Предложения для Вас </p>
    <div class="carousel">

        <div class="carousel-track">
            <div class="carousel-card">
                {% for card in event %}
                    {% include 'home_carusel_card.html' with element=card %}
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block card %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home_card.css' %}"/>
<div class="product-container">
    <div class="product-card">
        {% for card in event %}
            {% include 'home_card.html' with element=card %}
        {% endfor %}
    </div>
</div>

{% endblock %}
