{% extends 'base.html' %}
{% load static %}
{% block title %}
Вход
{% endblock %}

{% block control %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>

<div class="registration-container">

    <div class="registration-card">
        <h2>Вход</h2>
        <form method="post" action="check/" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="login">Логин</label>
                <input type="login" id="login" name="login" required>
            </div>
            <div class="form-group">
                <label for="pass">Пароль</label>
                <input type="pass" id="pass" name="pass" required>
            </div>
            {% if is_error == True %} 
            <div class="form-group">
                <p>Ошибка входа</p>
            </div>
            {% endif %} 

            <div class="registration-link">
                <button type="submit" class="register-button">Войти</button>
                <button type="submit" class="register-button"><a href="http://127.0.0.1:8000/1/" class="register-button">Регистрация</a></button>
            </div>
        </form>
    </div>
</div>
{% endblock %}