{% extends 'base.html' %}
{% load static %}

{% block title %}
Личный кабинет
{% endblock %}

{% block search %}
<link rel="stylesheet" href="{% static 'css/user.css' %}">


    <div class="info-container">
        <p><strong>Имя:</strong> Иван Иванов</p>
        <p><strong>Почта:</strong> ivan@example.com</p>
    </div>


        
    <div class="container">
        <div class="list left">
            <h2> Ваши мероприятия </h2>
            {% for my_event in events %}
            <div class="event-card">
                <div class="event-details">
                    <h3 class="event-name">{{ my_event.name }}</h3>
                    <p><strong>Категория:</strong> {{ my_event.category }}</p>
                    <p><strong>Адрес:</strong> {{ my_event.address }}</p>
                </div>
            </div>
            {% empty %}
                <p>У вас пока нет мероприятий.</p>
            {% endfor %}
        </div>


        <div class="list right">
            <h2> Недавно посещенные</h2>
            {% for event in events %}
            <div class="event-card">
                <div class="event-details">
                    <h3 class="event-name">{{ event.name }}</h3>
                    <p><strong>Категория:</strong> {{ event.category }}</p>
                    <p><strong>Адрес:</strong> {{ event.address }}</p>
                    <form method="post" action="{% url 'event_like_dislike' event.id %}">
                        {% csrf_token %}
                        <button type="submit" name="action" value="like" class="like-button">👍 Like</button>
                        <button type="submit" name="action" value="dislike" class="dislike-button">👎 Dislike</button>
                    </form>
                </div>
            </div>
            {% empty %}
                <p>У вас пока нет мероприятий.</p>
            {% endfor %}
        </div>
    </div>



{% endblock %}



<div class="events-container">
    {% for event in events %}
        <div class="event-card">
            <div class="event-details">
                <h3 class="event-name">{{ event.name }}</h3>
                <p><strong>Категория:</strong> {{ event.category }}</p>
                <p><strong>Адрес:</strong> {{ event.address }}</p>
                <form method="post" action="{% url 'event_like_dislike' event.id %}">
                    {% csrf_token %}
                    <button type="submit" name="action" value="like" class="like-button">👍 Like</button>
                    <button type="submit" name="action" value="dislike" class="dislike-button">👎 Dislike</button>
                </form>
            </div>
        </div>
    {% empty %}
        <p>У вас пока нет мероприятий.</p>
    {% endfor %}


    {% for event in events %}
        <div class="event-card">
            <div class="event-details">
                <h3 class="event-name">{{ event.name }}</h3>
                <p><strong>Категория:</strong> {{ event.category }}</p>
                <p><strong>Адрес:</strong> {{ event.address }}</p>
                <form method="post" action="{% url 'event_like_dislike' event.id %}">
                    {% csrf_token %}
                    <button type="submit" name="action" value="like" class="like-button">👍 Like</button>
                    <button type="submit" name="action" value="dislike" class="dislike-button">👎 Dislike</button>
                </form>
            </div>
        </div>
    {% empty %}
        <p>У вас пока нет мероприятий.</p>
    {% endfor %}
</div>






