.carousel-container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 40px;
    background-color: #FFD673;
    padding: 20px;
    border-radius: 20px;
    height: 460px;
}
 
.carousel-container h2, .carousel-container p {
    text-align: left;
    font-size: 20px;
    margin: 5px 0;
    margin-top: 0;
    color: #A67500;
}

.carousel {
    position: relative;
    display: flex;
    align-items: center;
}

.carousel-track {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.carousel-card {
    flex: 0 0 200px;
    height: 80%;
    margin: 0 10px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

.carousel-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 5px;
}

.carousel-card h3, .carousel-card p {
    text-align: left;
    font-size: 1em;
    margin: 5px 0;
    color: #333;
}

.button-container {
    display: flex;
    gap: 10px;
}

.join-button, .info-button {
    flex: 1;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9em;
    text-align: center;
}

.join-button {
    background-color: #FFC740;
    color: #000;
    margin-bottom: 5px;
}

.info-button {
    background-color: #e0e0e0;
    color: #000;
}




.search-container {

    /* justify-content: center; */
    margin-left: 15%;
    margin-top: 20px;
    
}

.search-container input[type="text"] {
    width: 700px;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #FFD673;
    outline: none;
}

.search-container input[type="text"]:focus {
    border-color: #888;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5%;
    margin-bottom: 100px;
}

.cart-card-container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 5%

}

.space{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}



.search-button{
    width: 150px;
    padding: 15px;
    font-size: 18px;
    border: 0;
    border-radius: 10px;
    background-color: #FFC740;
    outline: none;
    color: black;
    margin-left: 5px;

}
